https://:443 {
    tls /etc/caddy/certs/server.crt /etc/caddy/certs/server.key
    encode gzip
    header Strict-Transport-Security "max-age=31536000; includeSubDomains"
    reverse_proxy web:80
}

http://:80 {
    redir https://{$APP_DOMAIN}{uri} permanent
}
